.Card-container {
  height: 60vh;
  display: flex !important;
  flex-direction: row !important;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  margin: 12px;
  margin-top: -16px;
  min-width: 25vw;
}


.Cta-primary {
  background-color: #764ba2 !important;
  color: #ffffff !important;
  border-radius: 250px !important;
  width: 100% !important;
}

.Card-header {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 4rem;
  margin-left: 2rem;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Card-header--subcontent {
  color: #000000;
  margin-left: 2rem;
  margin-top: -2rem;
  font-size: 0.8rem;
  font-weight: 100;
}

.Input-text {
  width: 100% !important;
}

.Register-content--text {
  font-size: 0.8rem;
  color: #CCCCCC;
  text-align: center;
  margin: 2rem;
}

.Register-content--subtext {
  font-size: 0.8rem;
  font-weight: 600;
  color: #764ba2;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 480px) {
}
